<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css"/>

</head>
<body>

<div class="container">

    <div class="starter-template">
        <h1>Passed Reservations Report</h1>

        <form action="#" th:action="@{/passedReservations}" th:object="${searchData}" method="post" class="form-horizontal">
            <div class="form-group">
                <label for="idx1" class="col-sm-3 control-label">Resource</label>
                <div class="col-sm-4">
                    <input type="text" id="idx1" class="form-control" th:field="*{resource}"/>
                </div>

            </div>
            <div class="form-group">
                <label for="idx2" class="col-sm-3 control-label">User</label>
                <div class="col-sm-4">
                    <input disabled="true" type="text" id="idx2" class="form-control" th:field="*{user}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="idx3" class="col-sm-3 control-label">Reservation Date</label>
                <div class="col-sm-4">
                    <input disabled="true" type="text" id="idx3" class="form-control" th:field="*{date}"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-3"></div>
                <div>
                    <button type="submit" class="btn btn-primary" name="search">Search</button>
                </div>
            </div>

            <div class="form-group">
                <label for="idx4" class="col-sm-3 control-label">Chart Type</label>
                <div class="col-sm-4">
                    <div id="idx4">
                        <div th:each="ty : *{allTypes}">
                            <input type="radio" th:field="*{type}" th:value="${ty}" onclick="onclickme(this)"/>
                            <label th:for="${#ids.prev('type')}" th:text="${ty}"></label>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <div id="chart">
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
        <div id="table">
            <table class="table table-striped">
                <tr>
                    <th>Resource Name</th>
                    <th:block th:each="yr : ${yearsData}">
                        <th th:text="${yr}"></th>
                    </th:block>
                </tr>
                <!--<th:block th:each="dt : ${data}">-->
                    <!--<tr>-->
                        <!--<td th:text="${dt.id}">id</td>-->
                        <!--<td th:text="${user.name}">id</td>-->
                        <!--<td th:text="${user.email}">id</td>-->
                    <!--</tr>-->
                <!--</th:block>-->
            </table>
        </div>
    </div>

</div>
<!-- /.container -->
<script th:src="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>
<script th:src="@{/js/highcharts.js}" src="../../js/highcharts.js"></script>

<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/

    var yearsList = [[${data}]]

    Highcharts.chart('container', {
        chart: {
            type: 'area'
        },
        title: {
            text: 'Past resource utilisation'
        },
        xAxis: {
            categories: [[${yearsData}]],
            tickmarkPlacement: 'off',
            title: {
                enabled: false
            }
        },
        yAxis: {
            title: {
                text: 'Reservations'
            },
            labels: {
                formatter: function () {
                    return this.value / 1000;
                }
            }
        },
        tooltip: {
            split: true
        },
        plotOptions: {
            area: {
                stacking: 'normal',
                lineColor: '#666666',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#666666'
                }
            }
        },
        series: [[${data}]]
    });

    function onclickme(elm) {
        var test = $(elm).val();

        if (test == 'Chart') {
            $("#table").hide();
            $("#chart").show();
        } else {
            $("#table").show();
            $("#chart").hide();
        }
    }

    $(document).ready(function () {
        $("#type1").trigger("click");
    });
    /*]]>*/
</script>

</body>
</html>