<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker3.min.css}"
          href="../../css/bootstrap-datepicker3.min.css"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../../css/font-awesome.min.css"/>

</head>
<body>

<div class="container">

    <div class="starter-template" style="margin-top: 25px;">

        <form action="#" th:action="@{/resourcesAvailabilityIn}" th:object="${searchData}" method="post"
              class="form-horizontal">
            <div class="form-group">
                <label for="idx1" class="col-sm-3 control-label">Resource</label>
                <div class="col-sm-4">
                    <select id="idx1" class="form-control" th:field="*{resource}">
                        <option th:each="type : ${allResource}" th:value="${type.key}" th:text="${type.value}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="idx2" class="col-sm-3 control-label">Reservation Date</label>
                <div class="col-sm-4">
                    <input type="text" id="idx2" class="form-control" th:field="*{startDate}"/>
                </div>
                (<span th:text="#{date.format}">YYYY/MM/DD</span>)
            </div>


            <div class="form-group">
                <div class="col-sm-3"></div>
                <div>
                    <button type="submit" class="btn btn-primary" name="search">Search</button>
                </div>
            </div>

        </form>

        <div th:if="${#lists.isEmpty(data)}">
            <h3>Resource Available</h3>
        </div>

        <div th:if="${not #lists.isEmpty(data)}" id="table">
            <table class="table table-striped">
                <tr>
                    <th>Resource Name</th>
                    <th>Resource Location</th>
                    <th>Reservation Start Date</th>
                    <th>Reservation End Date</th>
                </tr>
                <th:block th:each="dt : ${data}">
                    <tr>
                        <td th:text="${dt.value1}"></td>
                        <td th:text="${dt.value2}"></td>
                        <td th:text="${dt.localDateTime1}"></td>
                        <td th:text="${dt.localDateTime2}"></td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>

</div>
<!-- /.container -->
<script th:src="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>
<script th:src="@{/js/moment-with-locales.min.js}" src="../../js/moment-with-locales.min.js"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}" src="../../js/bootstrap-datepicker.min.js"></script>

<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
	$(document).ready(function () {

		$('#idx2').datepicker({
			format: 'dd-mm-yyyy'
		});

	});
    /*]]>*/
</script>

</body>
</html>