<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SRRS-REPORTS MODULE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css"/>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SRRS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>SRRS-REPORT MODULE</h1>

        <ul>
            <li><a th:href="@{/passedReservations}">Past Reservations Report</a></li>
            <li><a th:href="@{/resourcesAvailabilityIn}">Resources Availability [Internal]</a></li>
            <li><a th:href="@{/resourcesAvailabilityEx}">Resources Availability [External]</a></li>
        </ul>
    </div>


</div>
<!-- /.container -->

<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>